body {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    color: #fff;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    z-index: 2;
    transition: opacity 0.5s, visibility 0.5s;
}

.loader-hidden {
    opacity: 0;
    visibility: 0;
}

.loader::after {
    content: "";
    width: 130px;
    height: 130px;
    border: 18px solid #ddd;
    border-top-color: #f00;
    border-radius: 50%;
    animation: loading_anim 0.9s ease normal;
}

@keyframes loading_anim {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

#canvas-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pixel-grid {
    user-select: none;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    gap: 1px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.pixel {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #555;
    transition: background-color 0.1s;
}

#controls {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

button {
    position: relative;
    margin: 13px;
    padding: 13px;
    font-size: 23px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    transform: translateX(10px);
}

button.active {
    cursor: default;
    background-color: rgba(255, 255, 255, 0.1);
    color: #bbb;
    transform: translateX(0);
}

button:active {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(0);
}

#clear-btn {
    margin: 12px 12px;
    padding: 13px 15px;
    font-size: 22px;
    background-color: #FF4136;
    border: 3px solid #FF4136;
    color: #fff;
}

#clear-btn:hover {
    background-color: transparent;
    color: #FF4136;
}

#clear-btn:active {
    transform: translateX(10px);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: #474747;
    padding: 20px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    z-index: 1;
    transform: translateX(0);
    transition: transform 0.7s ease;
}

.main-content {
    margin-top: 20px;
    margin-left: 220px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brush-tool-window {
    position: absolute;
    top: 102px;
    left: 165px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(-20px);
}

.color-window-arrow {
    position: absolute;
    left: -13%;
    top: 18%;
    border: solid;
    border-width: 14px 0 14px 14px;
    border-color: transparent transparent transparent rgb(235, 235, 235);
    transform: rotate(180deg);
}

#color-picker {
    appearance: none;
    width: 43px;
    height: 45px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

#saveimg-btn {
    margin-top: auto;
    padding: 8px 15.5px;
}

#saveimg-btn:active {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(10px);
}

#saveimg-btn.active {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    transform: translateX(10px);
}

#gallery-btn {
    padding: 11.5px 9.5px 11.5px 9.5px;
}

#gallery-btn.active {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    transform: translateX(10px);
}

#gallery-btn:active {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(10px);
}

#settings-btn {
    margin-bottom: 40px;
}

.settings-window {
    position: absolute;
    bottom: 60px;
    left: 165px;
    width: 200px;
    color: #000;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(-10px);
}

.settings-window-arrow {
    position: absolute;
    left: -6%;
    top: 60%;
    border: solid;
    border-width: 14px 0 14px 14px;
    border-color: transparent transparent transparent rgb(235, 235, 235);
    transform: rotate(180deg);
}

#settings-btn.active {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    transform: translateX(10px);
}

#settings-btn:active {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(10px);
}

#grid-size-slider {
    width: 80%;
}

#grid-size-label {
    margin-left: 10px;
    font-weight: bold;
    color: #000;
}

#undo-btn, #redo-btn {
    padding: 10px 13px;
}

#undo-btn:hover, #redo-btn:hover {
    transform: translateX(10px);
}

.version p {
    position: absolute;
    font-weight: bold;
    right: 10px;
    bottom: 10px;
    color: #999; 
    font-size: 15px; 
    margin: 0;
}

.version p:hover {
    text-decoration: underline;
    color: #ccc;
}

.disabled {
    background-color: transparent;
    color: #666;
    cursor: not-allowed;
}

.disabled:hover {
    background-color: transparent;
    color: #666;
    transform: translate(0);
}

.disabled:active {
    background-color: transparent;
    color: #666;
    transform: translate(0);
}

.disabled.active {
    background-color: transparent;
    color: #666;
    transform: translate(0);
}

@media screen and (max-width: 900px) {
    button {
        font-size: 20px;
    }
    .main-content {
        margin-right: 100px;
    }
}

.gallery-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0;
    transition: opacity 0.4s ease;
    overflow: hidden;
    font-size: 19px;
    pointer-events: none;
}

.gallery-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}

.gallery-scrollbox {
    max-height: 70%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.gallery-content saveslot {
    color: #ddd;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
}

.gallery-container saveslot:hover {
    text-decoration: underline;
    cursor: pointer;
}

.close-gallery-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    padding: 4px 11.5px 4px 11.5px;
}

.close-gallery-btn:hover {
    transform: translate(0);
}

.gallery-container.open {
    pointer-events: auto;
    opacity: 1;
}

#gallerywarning-text {
    color: #f08080;
    padding: 0;
}

#gallerywarning-text:hover {
    color: #f0a0a0;
}

.gallery-scrollbox::-webkit-scrollbar {
    width: 8px;
}

.gallery-scrollbox::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.gallery-scrollbox::-webkit-scrollbar-track {
    background-color: transparent;
}

.gallery-scrollbox {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

.gallery-scrollbox::-moz-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.gallery-scrollbox::-moz-scrollbar-track {
    background-color: transparent;
}
